@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
input {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 700;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}



body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(206, 196, 214);
  
}

h1 {
  text-align: center;
  font-size: 35px;
}

#wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  background-color:#827397;
 
}


a {
  text-decoration: none;
}

a:visited {
  color: #E6739F;
}

a:hover {
  color: #262f80;
}

a:active {
  color: #ca5da6;
}


header {
  grid-area: header;

}


main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#alpha {
  grid-area: alpha;
}

#beta {
  grid-area: beta;
}


#wrapper {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "main    main"
    "footer footer"
}

main {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 5px;
  align-content: space-around;
  grid-template-areas:
    "alpha beta"

}




#alpha {
  padding: 10px;
}

#hello {
  font-size: 40px;
}

p {
  font-size: 18px;
}

#beta {
  align-content: right;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  margin-bottom: 5px;
}

nav li:last-child {
  margin-bottom: 0;
}

nav a {
  display: block;
  border: 8px dotted #F1D4D4;
  padding: 12px;
  text-decoration: none;
  align-items: center;
}

nav a:hover {
  background: #ffb7d3;
}




nav {
  grid-area: nav;
  padding: 10px;
  font-size: 18px;
  color: black;
  text-align: center;

}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;

}

nav li ul {
  display: none;
}

nav>ul>li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
  padding-top: 10px;
  left: -5px;
  z-index: 10;
}

nav li ul li {
  background-color: #f199d1;
  padding: 5px;
}


nav li:last-child {
  margin-bottom: 0;
}


main {
  grid-area: main;
  font-size: 30px;

}




li>span {
  display: inline-block;
  width: 100px;
}

.expert::after {
  content: "🔹🔹🔹🔹🔹";
}

.advanced::after {
  content: "🔹🔹🔹🔹";
}

.intermediate::after {
  content: "🔹🔹🔹";
}

.beginner::after {
  content: "🔹🔹";
}


footer {
  display: grid;
  align-items: end;
  justify-items: right;
  margin-right: 200px;
  grid-area: footer;
  color: #060606;

}
.navcont {
  margin-top: 30px;
  width: 100%;
  background-color: #c3c1e8;
}
.aboutme {
  color: black;
}
.aboutme .header {
  width: 932px;
  margin: 28px auto 0;
  box-sizing: border-box;
  background-color: #e5d9ce;
  padding: 20px;
  height: 630px;
}
.aboutme .header .innerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutme .header .innerheader .pic img {
  width: 286px;
}
.aboutme .header .innerheader .my {
  width: 580px;
  height: 590px;
  background-color: #e7e5e5;
}
.aboutme .header .innerheader .my .inmy {
  padding-left: 200px;
  margin-top: 100px;
 
}
.aboutme .header .innerheader .my .inmy h3 {
  margin: 29px 0 33px;
  font-size: 26px;
}
.aboutme .header .innerheader .my .inmy .info ul li .p1 {
  font-size: 16px;
  color: black;
  margin-bottom: 7px;
}
.aboutme .header .innerheader .my .inmy .info ul li .p2 {
  margin-bottom: 27px;
  color: #767674;
}
.aboutme .header .innerheader .my .inmy .info ul li .p2 span {
  font-size: 16px;
  color: #767674;
  margin-right: 25px;
}
.aboutme .content .content1 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 40px;
}
.aboutme .content .content1 .incon1 {
  width: 932px;
  margin: 28px auto 0;
}
.aboutme .content .content1 .incon1 .title {
  font-size: 38px;
  color: #DBB89A;
  margin-bottom: 40px;
}
.aboutme .content .content1 .incon1 .cont {
  color: #000000;
  font-size: 20px;
  line-height: 32px;
}
.aboutme .content .content2 {
  margin-bottom: 150px;
}
.aboutme .content .content2 .incon2 {
  width: 932px;
  margin: 28px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutme .content .content2 .incon2 .lef {
  width: 340px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.aboutme .content .content2 .incon2 .lef .p3 {
  font-size: 16px;
  position: relative;
}
.aboutme .content .content2 .incon2 .lef .p3::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  right: -4px;
  top: 7px;
  z-index: 999;
}
.aboutme .content .content2 .incon2 .lef::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 440px;
  background-color: #d2d2d2;
  right: 0;
  top: 7px;
}
.aboutme .content .content2 .incon2 .rig ul {
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.aboutme .content .content2 .incon2 .rig ul li .p4 {
  font-size: 16px;
  line-height: 1.8em;
}
.ui-design {
  color: black;
}
.ui-design .innerui-design {
  width: 980px;
  margin: 20px auto 0;
}
.ui-design .innerui-design h2 {
  font-family:  sans-serif;
  font-size: 46px;
  line-height: 138px;
  text-align: center;
}
.ui-design .innerui-design .banner img {
  width: 980px;
}
.ui-design .innerui-design .con1 {
  width: 711px;
  margin: 30px auto 40px;
}
.ui-design .innerui-design .con1 .incon1 {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.ui-design .innerui-design .con1 .incon1 span {
  color: #aa8e00;
  font-size: 24px;
}
.ui-design .innerui-design .con1 .incon2 h3 {
  margin-top: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 42px;
  color: #aa8e00;
}
.ui-design .innerui-design .con1 .incon2 .baner-cont {
  margin-top: 20px;
}
.ui-design .innerui-design .con1 .incon2 .baner-cont img {
  width: 711px;
}
.ui-design .innerui-design .con1 .incon2 .w430 {
  text-align: center;
  margin-top: 30px;
}
.ui-design .innerui-design .con1 .incon2 .w430 img {
  width: 430px;
}
.ui-design .innerui-design .con1 .incon2 .con-wrap {
  margin-top: 25px;
}
.ui-design .innerui-design .con1 .incon2 .con-wrap p {
  font-family:  sans-serif;
  font-size: 20;
  font-weight: 600;
  line-height: 1.3em;
  color: #605e5e;
}
.ui-design .innerui-design .con1 .incon2 .con-wrap .dian::before {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: 12px;
  margin-right: 10px;
  display: inline-block;
  background-color: #605e5e;
  border-radius: 50%;
}
.ux-design {
  color: black;
}
.ux-design .innerui-design {
  width: 924px;
  margin: 20px auto 0;
}
.ux-design .innerui-design h2 {
  font-family:  sans-serif;
  font-size: 56px;
  line-height: 138px;
  text-align: center;
}
.ux-design .innerui-design h3 {
  font-family:  sans-serif;
  color: #616167;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.ux-design .innerui-design .con1 {
  width: 924px;
  margin: 30px auto 40px;
}
.ux-design .innerui-design .con1 .incon1 {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.ux-design .innerui-design .con1 .incon1 span {
  color: #aa8e00;
  font-size: 24px;
}
.ux-design .innerui-design .con1 .baner-cont2 {
  margin-top: 30px;
}
.ux-design .innerui-design .con1 .baner-cont2 img {
  width: 924px;
}
.ux-design .innerui-design .con1 .w860 {
  text-align: center;
}
.ux-design .innerui-design .con1 .w860 img {
  width: 860px;
  align-items: center;
}
.ux-design .innerui-design .con1 .incon2 h3 {
  margin-top: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 42px;
  color: #aa8e00;
}
.ux-design .innerui-design .con1 .incon2 .baner-cont {
  margin-top: 20px;
  text-align: center;
}
.ux-design .innerui-design .con1 .incon2 .baner-cont img {
  width: 711px;
}
.ux-design .innerui-design .con1 .incon2 .w430 {
  text-align: center;
  margin-top: 30px;
}
.ux-design .innerui-design .con1 .incon2 .w430 img {
  width: 430px;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap {
  margin-top: 25px;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap p {
  font-family:  sans-serif;
  font-size: 20;
  font-weight: 600;
  line-height: 1.3em;
  color: #605e5e;
  width: 810px;
  display: inline-block;
  margin-left: 100px;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap .cen {
  text-align: center;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 {
  position: relative;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .item {
  display: flex;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 90px;
  align-items: center;
  margin-bottom: 60px;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .item .lef img {
  width: 66px;
  z-index: 999;
  position: relative;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .item .in {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  color: #605e5e;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .item .rig img {
  width: 165px;
  height: 252px;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .im1 {
  position: absolute;
  top: 0;
  left: 134px;
  z-index: 999;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2 .im2 {
  position: absolute;
  bottom: 0;
  left: 134px;
  z-index: 999;
}
.ux-design .innerui-design .con1 .incon2 .con-wrap2::after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  background-color: #000000;
  height: 1500px;
  top: 0;
  left: 145px;
  z-index: 1;
}
