@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

h1{
 text-align: center;
  font-size:35px;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}


a {
  text-decoration: none;
}

a:visited {
  color: #E6739F
}

a:hover {
  color: #262f80
}

a:active {
  color: #ca5da6
}


header {
  grid-area: header;
 
}


main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#alpha {
  grid-area: alpha;
}

#beta {
  grid-area: beta;
}


#wrapper {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "main    main"
    "footer footer"
}

main {
  display: grid;
  grid-template-columns:600px 1fr;
  grid-gap: 5px;
  align-content: space-around;
  grid-template-areas:
  "alpha beta"

}




#alpha{
  padding: 10px;
}

#hello{
  font-size: 40px;
}

p{
  font-size: 18px;
}
#beta {
   align-content: right;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  margin-bottom: 5px;
}

nav li:last-child {
  margin-bottom: 0;
}

nav a {
  display: block;
  border: 8px dotted #F1D4D4;
  padding: 12px;
  text-decoration: none;
  align-items: center;
}

nav a:hover {
  background: #E6739F;
}



  
  nav {
    grid-area:nav;
    padding: 10px;
    font-size: 18px;
    color:black;
    text-align:center;
    
   }

  nav ul {
    margin: 0;
    list-style:none ;
    padding-left: 0;

  }
  
  nav li ul{
    display:none;
  }

  nav>ul>li{
    display:inline-block;
    margin-right:20px;
    position:relative;
  }

  nav ul li:hover ul{
    display:block;
    position:absolute;
    padding-top:10px;
    left:-5px;
    z-index:10;
  }
  nav li ul li {
    background-color: #CE7BB0;
    padding: 5px;
  }
  

  nav li:last-child {
    margin-bottom: 0;
  }

  
  main {
    grid-area: main;
    font-size:30px;

  }


 
  
  li > span {
    display: inline-block;
    width: 100px;
  }
  
  .expert::after {
    content: "🔹🔹🔹🔹";
  }
  
  .advanced::after {
    content: "🔹🔹🔹";
  }
  
  .intermediate::after {
    content: "🔹🔹";
  }
  
  .beginner::after {
    content: "🔹";
  }

  
  footer{
    display:grid;
    align-items:end;
    justify-items: right;
    margin-right:200px;
    grid-area:footer;
    color:#d9d9d9;

  }
  
  
